header {
  	width: 100%;
	min-width: 320px;
	height: 88px;
	margin:0 auto;
	display:flex;
	align-items: center;
}
.header__none {
	min-width: 320px;
	@media (min-width: 768px) {
		max-width: 768px;
		margin: 0 auto;
	}
	@media (min-width: 1120px) {
		max-width: 1120px;
		margin: 0 auto;
	}
	@media (min-width: 1440px) {
		display: none;
	}
}
.header-nav {
	display:flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.header-icon {
	width: 98px;
	height: 52px;
	background-image: url(../img/icon/Group.svg);
	margin-right: auto;
}
.header-icon--header {
	@media (min-width: 768px) {
		margin-left: 20px;
	}

}
.header-icon--menu {
	margin-right: 60px;
	width: 98px;
    height: 52px;
}